/* colores base de pagina  */
.primario {
    background-color: #1B2223;
    color: white;
}

.secundario {
    background-color: #3A4F50;
    color: white;
}

.terciario {
    background-color: #0EF6CC;
    color: #1B2223;
}

body {
    background-color: #222222;
    font-family: 'Space Mono', monospace;
}

.fondo {
    background-color: #222222;
    color: white !important;
}


.nav {
    color: white;
}

.nav-profile-item {
    margin-right: 0;
}

.texto {
    color: #EEEEEE;
    text-decoration: none;
}

.texto:hover {
    color: #EEEEEE;
    text-decoration: none;
}

a  {
    text-decoration: none  !important;
    color: #0EF6CC         !important;
}

a:hover {
    text-decoration: underline;
    color: #0EF6CC;

}

.contador-likes-views {
    color: #EEEEEE;
    font-size: 12px;
}

.author-img {
    height: 80px;
    width: 80px;
}

.author-img-posts {
    height: 70px;
    width: 70px;
}

.info-modal {
    display: none;
}

.bton {
    background-color: transparent;
    border: none;
    display: flex;
}
.no-Visible {
    display: none;
}


.coment-post {
    color: #EEEEEE;
    background-color: #1B2223;
}

.coment-post:focus {
    background-color: #1B2223;
    color: #EEEEEE;
}

.comment-box {
    height: 65px;
    width: 380px;
    margin-bottom: 0.5 rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.comment-box::-webkit-scrollbar{
    color: #3A4F50;
    width: 3px;
}

.buscador{
    color: #EEEEEE;
    background-color: #1B2223;
    height: 45px;
}

.buscador:focus {
    background-color: #1B2223;
    color: #EEEEEE;
}

/* Form de crear post */
.creando-Post-Form {
    border: none;
    color: #EEEEEE;
    background-color: #1B2223;
}

.creando-Post-Form:focus {
    background-color: #1B2223;
    color: #EEEEEE;
    border: none;
}

.fecha {
    font-size: 12px;
    color: gray;
}
/* login  */

.login-inputs {
    color: #EEEEEE;
    background-color: #1B2223;
}

.login-inputs:focus {
    background-color: #1B2223;
    color: #EEEEEE;
}

/* Responsive */

@media(max-width:480px) {
    .info {
        display: none;
    }

    .text-post {
        width: 100%;
    }

    .coment-post {
        width: 100%;
    }

    .info-modal {
        display: block;
    }

    h4 {
        font-size: 15px;
    }

    .post-perfil {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        margin-top: 20px;
    }

    .author-img-posts {
        height: 60px;
        width: 60px;
    }

    .ver-mas {
        display: none;
    }

    .acerca_de-config {
        height: 100px;
        overflow: scroll;
        width: 75%;
    }

    .comment-box {
        height: 77px;
        width: 250px;
        margin-left: 15px;
    }

    .views{
        display: none;
    }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.5em;
    height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #0EF6CC;
}

.svg-icon circle {
    stroke: #0EF6CC;
    stroke-width: 1;
}

/* Icono de crear publicacion  */

.svg-icon-mas {
    width: 3.2em;
    height: 3.2em;
}

.svg-icon-mas path,
.svg-icon-mas polygon,
.svg-icon-mas rect {
    fill: #0EF6CC;
}

.svg-icon-mas circle {
    stroke: #0EF6CC;
    stroke-width: 1;
}

/* iconos de fontawesome  */
.icons {
    color: #0EF6CC;
}

.crear-post {
    color: #0EF6CC;
    font-size: 4em;
}

/* Modificando Bootstrap  */
.nav-link:hover {
    text-decoration: none;
}

.accordion-button:not(.collapsed) {
    background-color: #1B2223;
}

.form-select {
    background-color: #1B2223;
    color: white;
}
.dropdown-item:hover{
    background-color: #222222;
    color:#0EF6CC;
}